@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

body {
    font-family: 'SUITE', "Frank Ruhl Libre";
    font-size: 25px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

/* 해더 */
header {
    width: 100%;
    height: 130px;
    min-width: 1320px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #D3DCB9;
    z-index: 100;

}

.header2 {
    width: 80%;
    margin: auto;
    position: relative;
}

.header_in,
.header_in2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_in>li>a:hover {
    color: #767a43;
}

.header_in2>li>a:hover img {
    filter: opacity(0.5);
}


.logoimg {
    height: 100px;
}

.header_in2 {
    position: absolute;
    right: 0px;
    top: 30px;
}

.header_in li {
    margin: 9px 18px;
    font-weight: 500;
}



.header3 {
    margin-top: 130px;
}

.header3_2 {
    width: 100%;
}

.header3_1 {
    width: 1320px;
    margin: auto;
    position: relative;
}

.barand {
    position: absolute;
    top: -720px;
    left: 0px;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

.skin {
    position: absolute;
    top: -650px;
    right: 0px;
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* 슬라이드-세로 꾸미기 */
.slide2 {
    width: 100%;
    height: 707px;
    margin: 200px auto;
    position: relative;
    overflow: hidden;
}

.slide2 .swiper-slide {
    width: 1320px;
    margin: auto;
    display: flex;
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.slide2 .swiper-slide a {
    width: 100%;
    display: block;
}

.slide2 .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.maintext {
    margin: auto;
    width: 1320px;
    height: 707px;
    background-color: #e4e7db;

}

.maintext p {
    text-align: left;
    margin-left: 50px;
}

.maintext2 {

    width: 1320px;
    height: 707px;
    background-color: #e9f0df;
}

.maintext2 p {
    padding-top: 300px;
    font-size: 23px;
    font-weight: 500;
    line-height: 180%;
}

.maintext3 {

    width: 1320px;
    height: 707px;
    background-color: #e2dbdc;
}

.maintext3 p {
    padding-top: 50px;
    font-size: 23px;
    font-weight: 500;
    line-height: 180%;
}

.maintext3 h1 {
    padding-top: 180px;
}

.maintext4 {

    width: 1320px;
    height: 707px;
    background-color: #dee6e7;
}

.maintext4 p {
    padding-top: 200px;
    font-size: 23px;
    font-weight: 500;
    line-height: 180%;
}

p {

    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.logo {
    margin: 150px 0 30px;
    margin-right: 360px
}


.mark {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(212, 212, 171, 0.5) 50%);
    background-size: 200%;
    transition: .35s;
    color: #3f3f3f;
}

.swiper-slide:hover .mark {
    background-position: -100% 0;
}

.mark1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(190, 204, 153, 0.5) 50%);
    background-size: 200%;
    transition: .35s;
    color: #424242;
}

.swiper-slide:hover .mark1 {
    background-position: -100% 0;
}


.mark3 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(177, 141, 141, 0.5) 50%);
    background-size: 200%;
    transition: .35s;
    color: #424242;
}

.swiper-slide:hover .mark3 {
    background-position: -100% 0;
}

.mark4 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(150, 176, 190, 0.5) 50%);
    background-size: 200%;
    transition: .35s;
    color: #424242;
}

.swiper-slide:hover .mark4 {
    background-position: -100% 0;
}




.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;


}




.main2 {
    width: 1320px;
    margin: 100px auto;
    display: flex;
}

.main2 img {
    width: 435px;
    display: block;
    transition: 1s;
}

.main2 h3 {
    color: #dee6e7;
    position: absolute;
    top: 30px;
    left: 30px;
}

.main2 p {
    color: #dee6e7;
    font-weight: 100;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 30px;
}

.main2 div {
    overflow: hidden;
    position: relative;
}

.main2 div:hover img {
    transform: scale(1.3);

}

.a,
.b {
    opacity: 0;
    transition: 2s 1s;
}


.aos-animate .a,
.aos-animate .b {
    opacity: 1;
}


.main1_1{
position: relative;

text-align: center; 
height: 1000px;
margin-top: 100px;
}



.main1_1 p {
     position: absolute;
     top: 290px;
left: 0px;
line-height: 50px;
text-align: center;
font-size: 25px;
}

.main1_1 {
    display: flex;
    
  }



  .main1_1 img {
    display: block;
    margin:  auto;
    justify-content: center; 
    width: 100%;


   
  }
  .main1_1p {
    opacity: 0; /* 처음에는 보이지 않음 */
    transition: opacity 1s ease-in-out; /* 2초 동안 서서히 보이도록 설정 */
  }

  /* 부모 요소에 hover 또는 특정 클래스가 추가되면 글자가 보이게 설정 */
  .main1_1:hover .main1_1p {
    opacity: 1; /* 서서히 보이게 설정 */
  }

  .main3 img {
    display: block;
    margin:   auto;
    justify-content: center; 
    padding-bottom: 40px;
    width: 1300px;
 
    }
/* 흘러가는 배너 */
    *{margin: 0; padding: 0;}
    .marquee, .marquee2{
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
        height: 70px;
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        margin: 40px 0;
    }
    .marquee div{
        width: 200%;
        height: 40px;
        background: url(../images/sub1/img5.png) repeat-x;
        position: absolute;
        animation: marquee 35s linear infinite;
    }
    @keyframes marquee{
        0%{left: 0;}
        100%{left: -100%;}
    }

    /* 푸터*/
footer {
    width: 100%;
    height: 250px;
    position: relative;
    font-size: 18px;
    background: url(../images/footerimg.png) no-repeat left bottom/ 200px, url(../images/footerimg2.png) no-repeat right top/ 200px #F3EDED;


}

.footer2 {
    width: 1320px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer2>img {
    padding-bottom: 40px;
    padding-right: 20px;
}

.footer2 ul {
    display: flex;
    align-items: center;
}

.footer3 {
    margin-right: auto;
    margin-bottom: 40px;
    
}

.footer3 ul {
    padding-top: 15px;
    font-size: 15px;

}

.footer3 li {
    padding-right: 10px;
    margin-top: 10px;
    font-weight: 500;
}

.footer3 h6 {
    padding-bottom: 10px;
}
.footerlogo{
    margin-top: 30px;
}

.footer6 li{
    margin-bottom: 20px;
    
}
.footer6>img {
    margin: 15px;
}

.footer6 img {
    padding-left: 18px;
    margin-top: 30px;
    width: 30px
}

.footer6 li:hover {
    filter: opacity(0.7);
}

.footer3>ul>li>a:hover {
    /* display: block; */
    color: rgb(160, 67, 102);
    /* transform: scale(1.2); */
}

.footer4>a:hover {
    filter: brightness(0.9);
}